{{ define "main" }}
    <header class="content__header">
        <h1>{{ .Title | markdownify }}</h1>
        {{ .Content }}
    </header>

    {{ $pagesLen := len .Pages }}
    {{ range $i, $post := .Pages }}
      {{ with $post }}
        <article class="post">
            <header class="post__header">
                <h2><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
                <p class="post__meta">
                    <span class="date">{{ .Date.Format "2 January 2006" }}</span>
                </p>
            </header>

            <section class="post__summary">
                {{ .Summary }}
            </section>

            {{- if not (eq (math.Sub $pagesLen 1) $i) }}
              {{ "---" | markdownify }}
            {{ end -}}
        </article>
      {{ end }}
    {{ end }}
{{ end }}

{{define "aside" }}
    {{ if .Params.description }}<p>{{ .Params.description }}</p>{{ end }}
{{ end }}
